# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
gradle-app.setting
.gradletasknamecache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Node.js / Kotlin/JS ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
kotlin-js-store/

### Kotlin ###
.kotlin/
*.klib

### Build artifacts ###
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Logs ###
*.log
logs/

### Local configuration ###
local.properties
gradle.properties.local

### Example/test files ###
test.html
demo.html

### Temporary files ###
*.tmp
*.temp
*.swp
*~
.~*